/* Removing default styling */
html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

/* VARS */
:root {
    --bodyColor: #FFFAFA;
    --mainColor: #4F2683;
    --menuFontColor: rgb(90, 84, 84);
    --accentColorDark: rgba(153, 120, 173, 0.25);
    --accentColorLight: rgba(116, 185, 154, 0.25);
    --footerColor: #312c2b;
}

/* BODY */
body {
    height: 100%;
    text-align: center;
    font-family: 'Jost', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    background-color: var(--bodyColor);
}

/* MAIN PAGE */

/* GENERAL FORMATTING */
.line-break {
    margin-top: 30px;
    margin-bottom: 20px;
    border: none;
    background-color: lightgray;
    height:2px;
    width:80vw;
}

.title {
    font-size: 32px;
    font-weight: 700;
}

/* MENU */
.menu-container {
    display: flex;
    margin-bottom: 12px;
}

body ol {
    padding:0;
    margin:0;
    list-style-type: none;
    display: flex;
}

.menu-image {
    align-self: flex-start;
    margin-left: 10vw;
    margin-top: 20px;
    height:50px;
}

.menu-items {
    height:50px;
    position: absolute;
    right: 0;
    display:flex;
    align-items: center;
    margin: 20px;
    margin-right: 10vw;
    z-index: 3;
}

body ol li {
    padding-left:20px;
    padding-right:20px;
    display: inline-block;
    width: 80px;
    position: relative;
    font-weight: 600;
}

body ol li a {
    text-decoration: none;
    color:var(--menuFontColor);
}

.menu-top-item:hover {
    color:var(--mainColor);
    transition-duration: 500ms;
}

.menu-bottom-item {
    border-radius: 0 0 15px 15px;
}

.menu-dropdown {
    display: none;
    opacity: 0;
    background-color: var(--bodyColor);
    position: absolute;
    width: 200%;
    text-align: center;
    left:50%;
    transform: translate(-50%, 0);
    border-radius: 0 0 15px 15px;
    border-color: lightgray;
    border-width: 2px;
    padding-top: 10px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}

.dropdown-item {
    border-color: lightgray;
    border-width: 2px;
    width:100%;
    transition-duration: 200ms;
    padding-top:4px;
    padding-bottom: 4px;
}

.dropdown-item:hover {
    background-color: var(--mainColor);
    transition-duration: 200ms;
}

.dropdown-item a {
    transition-duration: 200ms;
}

.dropdown-item:hover a { 
    color:white;
    transition-duration: 200ms;
}

/* MOBILE MENU */
.menu-mobile-container {
    display: flex;
}

#menu-button {
    display: none;
    position: absolute;
    top:35px;
    right: 10vw;
    width: 20px;
    height: 20px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 4;
}

#menu-button:hover {
    transition-duration: 150ms;
    transform:scale(1.3);
}

#menu-button span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: var(--menuFontColor);
    border-radius: 4px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#menu-button span:nth-child(1) {
    top: 0px;
}

#menu-button span:nth-child(2),#menu-button span:nth-child(3) {
    top: 8px;
}
  
#menu-button span:nth-child(4) {
    top: 16px;
}
  
#menu-button.open span:nth-child(1) {
    top: 8px;
    width: 0%;
    left: 50%;
}
  
#menu-button.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
  
#menu-button.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
  
#menu-button.open span:nth-child(4) {
    top: 10px;
    width: 0%;
    left: 50%;
}

.mobile-menu-items {
    font-size: 20px;
    opacity: 0;
    width:100%;
    display: none;
    position: absolute;
    align-items: center;
    z-index: 3;
    flex-direction: column;
    background-color: var(--bodyColor);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1)
}

.mobile-menu-item {
    width:100%;
    position: relative;
    cursor: pointer;
    height:100%;
    padding-top:10px;
    padding-bottom:10px;
    transition-duration: 250ms;
}

.mobile-menu-item:hover {
    background-color: var(--mainColor);
    transition-duration: 250ms;
}

.mobile-menu-item:hover .mobile-menu-top-item {
    color:white;
    transition-duration: 250ms;
}

.mobile-menu-dropdown {
    display: none;
    width:100%;
    background-color: var(--footerColor);
    text-align: center;
    position: relative;
    left:50%;
    transform: translate(-50%, 0);
    border-color: lightgray;
    border-width: 2px;
    padding:10px;
    margin-top:10px;
    margin-bottom: -10px;
    z-index: 3;
    box-shadow: 0px 0px 22px -5px rgba(0,0,0,0.19) inset;
    -webkit-box-shadow: 0px 0px 22px -5px rgba(0,0,0,0.19) inset;
    -moz-box-shadow: 0px 0px 22px -5px rgba(0,0,0,0.19) inset;
}

.mobile-dropdown-item {
    transition-duration: 250ms;
    width:100%;
}

.mobile-dropdown-item a {
    transition-duration: 250ms;
    color:white;
}

.mobile-dropdown-item:hover a {
    transition-duration: 250ms;
    opacity: 0.5;
}


/*BACKGROUND BLOBS */
.background-blob1 {
    right:0px;
    position: absolute;
    top: 400px;
    z-index: -1;
    width: 30vw;
}

.background-blob2 {
    left:0px;
    position: absolute;
    bottom: 0;
    z-index: -1;
    width: 30vw;
}

/* ALERT */
.alert {
    background-color: red;
    position: absolute;
    width:auto;
    height:auto;
    color: white;
    text-align: left;
    font-weight: 700;
    border-radius: 10px;
    padding-right: 30px;
    padding-left: 10px;
    top:35px;
    left:50%;
    transform: translate(-50%);
    z-index: 3;
}

.close {
    position: absolute;
    right: 10px;
    top: 6.65px;
    width: 10px;
    height: 10px;
    opacity: 0.5;
    z-index: 3;
}

.close:hover {
    opacity: 1;
}

.close:before, .close:after {
    position: absolute;
    left: 5px;
    content: ' ';
    height: 10px;
    width: 2px;
    background-color: white;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}


/* CAROUSEL */
.main-carousel {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    position: relative;
    
}

.circle-container {
    position: absolute;
    bottom: 20px;
    z-index: 2;
    
}

.carousel-circle {
    height: 15px;
    width: 15px;
    margin: 0 auto;
    display: inline-block;
    border-radius: 100%;
    background-color: rgba(53, 53, 53, 0.5);
    cursor: pointer;
}

#circle1 {
    background-color: rgba(255, 255, 255, 1);
}

.slide {
    border-radius: 30px;
    margin: 0 auto;
    width: 80vw;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
}

.slide1 {
    background-image: url("../img/front1.png");
    z-index: 1;
}

.slide2 {
    background-image: url("../img/front3.jpg");
    opacity: 1;
    z-index: 0;
}

.slide3 {
    background-image: url("../img/front2.jpg");
    opacity: 1;
    z-index: -1;
}

.slide-background1 {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height:60%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.slide-background2 {
    border-radius: 30px 0px 0px 30px ; 
    background-color: rgba(0, 0, 0, 0.3);
    width: 40%;
    height:100%;
    position: relative;
}

.slide-background3 {
    border-radius: 30px 0px 0px 30px ; 
    background-color: rgba(0, 0, 0, 0.3);
    width: 40%;
    height:100%;
    position: relative;
}

.slide-text {
    width: 100%;
    color: white;
    position: absolute;   
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.slide-text-title {
    font-size: 48px;
    font-weight: 700;
}

.slide-text-description {
    font-size: 20px;
}

.cta-button {
    border-radius: 25px;
    padding:10px;
    padding-left: 17px;
    padding-right: 17px;
    height: 50px;
    color:var(--footerColor);
    text-decoration: none;
    background-color: var(--mainColor);
    text-align: center;
    font-weight: 700;
    color:white;
    -webkit-box-shadow: 0px 0px 3px 0px var(--footerColor); 
    box-shadow: 0px 0px 3px 0px var(--footerColor);
    transition-duration: 200ms;
    z-index: 10;
}

.store-button {
    z-index: 10;
}

.cta-button:hover {
    transition-duration: 500ms;
    -webkit-box-shadow: none; 
    box-shadow: inset;
}

/* OWEEK */
.oweek-container {
    margin: 0 auto;
    width: 80vw;
}

.oweek-video {
    width:80vw;
}

.countdown-container {
    margin: 50px auto;
    width: 80vw;
}

.countdown-container li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
}

.countdown-container ul {
    padding: 0;
}

.countdown-container li span {
    width:4rem;
    display: block;
    padding:10px;
    margin-left:5px;
    margin-right:5px;
    font-weight: 600;
    font-size: 3rem;
    background-color: var(--mainColor);
    border-radius: 20px;
    color: white;
}  

#headline {
    text-align: center;
}



/* UPCOMING EVENTS */
.upcoming-events {
    margin: 0 auto;
    height: 100%;
    width: 80vw;
    position: relative;
}

.up-event-title {
    width:100%;
}

.up-event-photo {
    height:20vw;
    width: 20vw;
    border-radius: 20px;
    background-image: url("../img/up-coming-event0.jpg");
    background-position: center;
    background-size: cover;
    margin-top: 10px;
    position: relative;
    display: inline-block;
}

.up-event-photo-description {
    color:white;
    position: absolute;
    bottom: 10px;
    left:50%;
    transform: translateX(-50%);
}

.up-event-box-container {
    text-align: left;
    margin-top: 10px;
    margin-left: 1vw;
    width: 58vw;
    float: right;
    height:20vw;
    overflow-y: scroll;
    margin-bottom: 10px;
}

.up-event-box {
    width: auto;
    display: inline-block;
    position:relative;
    height:30%;
    padding-bottom: 10px;
}

.up-event-name {
    text-align: left;
    font-weight: bold;
}

.up-event-date {
    color:black;
}

.up-event-description {
    text-align: left;
    color:gray;
}

.up-event-button {
    color:blue;
}

/* OUR MISSION */
.mission {
    color:white;
    margin: 0 auto;
    width: 80vw;
    position: relative;
    margin-bottom: 70px;
    margin-top:20px;   
}

.mission-title {
    color:black;
    text-align: center;
    width: 100%;
}

.mission-description {
    width: 100%;
    display:flex;
    background-color: var(--mainColor);
    border-radius: 20px;
    margin-top: 15px;
    justify-content: center;
}

.mission-description-text {
    font-size: 18px;
    width:auto;
    align-self: center;
    padding:5vw;
}

/* FOOTER */
.footer {
    background-color: var(--footerColor);
    width: 100%;
    color:white;
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 120px;
    -webkit-box-shadow: 0px -6px 20px 0px rgba(0,0,0,0.2); 
    box-shadow: 0px -6px 20px 0px rgba(0,0,0,0.2);
}

.footer-text {
    position: absolute;
    padding-top: 20px;
    padding-bottom: 20px;
    height:15px;
    bottom: 0px;
    color:lightgray;
    font-size: 12px;
}

.footer-image {
    position: absolute;
    font-size: 18px;
    color:inherit;
    font-weight: 700;
    display: flex;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    top:20px;
}

.footer-image:hover {
    transition-duration: 500ms;
    -webkit-filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.4));
    filter: drop-shadow(5px 5px 5px rgba(255,255,255,0.1));
}

.footer-socials {
    padding: 18px;
    position: absolute;
    bottom: 18px;
    width: 100px;
}

.footer-socials a:hover {
    transition-duration: 500ms;
    filter: invert(15%) sepia(13%) saturate(372%) hue-rotate(210deg) brightness(97%) contrast(94%);
}

/* ABOUT US PAGE */
.about-container {
    width:100%;
    height:auto;
    margin: 0 auto;
}

.about-title {
    color:white;
    padding: 40px;
}

.about-photo {
    background-image: url("../img/people.jpg");
    background-position: center;
    background-size: cover;
    width:100vw;
    height: 75vh;
    margin:0 auto;
    position: relative;
}

.about-text {
    margin: 0 auto;
    width:60vw;
    font-size: 16px;
    color: white;
    position: absolute;
    top:50%;
    left:50%;
    transform: translateY(-50%) translateX(-50%);
    margin-top: 40px;
}

.text-backdrop {
    background-color:rgba(100, 14, 14, 0.5);
    height:100%;
    width:100%;
}

.sponsors-container {
    width:80vw;
    margin:0 auto;
    margin-top: 40px;
}

.sponsor-logos {
    margin-top:20px;
}

.sponsor-pic {
    width:15vw; 
    padding: 20px;
    transition-duration: 250ms;
}

.sponsor-pic:hover {
    transition-duration: 250ms;
    transform:scale(1.3);
}

.fee-breakdown {
    text-align: center;
    width:80vw;
    margin: 0 auto;
    margin-top: 40px;
}

.pie-container {
    position: relative;
    margin: 0 auto;
    height:400px;
}

.pie-chart {
    position:absolute;
    height:300px;
    width:300px;
    top:50%;
    left:50%;
    transform: translateY(-50%) translateX(-50%);
}

.pie-wrapper {
    position: relative;
}

.pie-piece {
    position: absolute;
    transition: 250ms;
}

.pie-piece:hover {
    transition: 250ms;
    transform: translatex(10%);
    transform: scale(0.85);
}

.pie-ues {
    width:102.37px;
    top:0px;
}

.pie-lab {
    width:150px;
    left:0px;
    top:0px;
}

.pie-project {
    width:267.65578px;
    right:0px;
    top:37.1px;
}

.pie-middle-text {
    position: absolute;
    font-size: 30px;
    font-weight: 600;
    top: 150px;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    display: none;
    opacity:0;
}

#donation-default {
    position: absolute;
    font-size: 30px;
    font-weight: 600;
    top: 150px;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    display:block;
    opacity: 1;
}

.pie-text {
    position: relative;
}

.pie-text-box {
    font-size: 12px;
    height: 200px;
    width:200px;
}

.pie-ues-text {
    position: absolute;
    right: 0px;
}

.pie-lab-text {
    position: absolute;
    left: 0px;
    display: none;
    opacity: 0;
}

.pie-project-text {
    position: absolute;
}

.contact-us {
    width:80vw;
    margin: 0 auto;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    align-items: flex-start;
    
}

.contact-us-title {
    width: 100%;
}

.ues-map {
    width: 30vw;
    display: inline-block;
    border-radius: 20px 0px 0px 20px;
}

.email-container {
    display: inline-block;
    width: 30vw;
    height: 350px;
    color:white;
    background:var(--mainColor);
    border-radius: 0px 20px 20px 0px;
    position: relative;
}

.email-text {
    text-align: left; 
    font: 14px;
    margin: 10px;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}

/* WEEKLY EVENTS */
.weekly-events-container {
    width:80vw;
    margin:0 auto;
    position: relative;
}

.weekly-events-title {
    width: 100%;
    text-align: center;
}

.events-container {
    display: flex;
    align-items: top;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.weekly-events-pic {
    width: 45vw;
    border-radius: 20px;
    display: inline-block;
    margin-right: 1vw;
    background-position: center;
    background-size:cover;
}

.weekly-events {
    width: 25vw;
    display: inline-block;
    margin-left: 1vw;
}

.weekly-event-date {
    font-weight: bold;
}

.weekly-event-description {
    font-style: italic;
}

.event {
    text-align: left;
}

.sign-up-button {
    border-radius: 15px;
    text-align: center;
    width:100px;
    background-color: var(--mainColor);
    padding: 3px;
}

.sign-up-button a {
    color:white;
    text-decoration: none;
}

.sign-up-button:hover {
    background-color: var(--footerColor);
}

.calendar-container {
    margin-top:40px;
    margin: 0 auto;
    width: 80vw;
}

/* GET INVOLVED */
.sign-up-container {
    width:80vw;
    margin: 0 auto;
}

.sign-up-title {

}

.blog-container {
    display:flex;
    width: 80vw;
    margin: 0 auto;
}

.blog-title {
}

.blog-post {
    
}

.conferences-container {
    width:80vw;
    margin: 0 auto;
    align-content: center;
    margin-bottom: 20px;
}

.conferences-title {
    text-align: left;
    width: 100%;
}

.conferences-box-container {
    display: flex;
    margin-top: 15px;
    flex-direction: column;
}

.conference-box {
    border-radius: 20px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
    padding:25px;
    margin-bottom:25px;
    background-color: rgb(255,255,255,1);
}

.conference-name {
    font-size: 20px;
    font-weight: 700;
    text-align: left;
}

.conference-image {
    float: right;
    margin:10px;
}

.conference-mission {
    font-weight: 600;
    text-align: left;
    margin-top:15px;
}

.conference-mission-text {
    font-weight: 400;
}

.conference-objective {
    font-weight: 600;
    text-align: left;
    margin-top: 15px;
}

.conference-objective-text {
    font-weight: 400;
}

/* JACKET */
.jacket-container {
    margin: 0 auto;
    width:80vw;
    padding:20px;
    padding-bottom: 80px;
    text-align: left;
}

.jacket-title {
    text-align: center;
    padding-bottom: 10px;
}

.boilersuit-container {
    margin: 0 auto;
    width:80vw;
    padding:20px;
    padding-bottom: 80px;
    margin-bottom: 30px;
    text-align: right;
}

.boilersuit-title {
    text-align: center;
    padding-bottom: 10px;
}

.store-photo1 {
    height:300px;
    border-radius: 40px;
    float:right;
    margin:20px;
    transition-duration: 0.5s;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
    position: relative;
}

.store-photo-text {
    position:absolute;
    height:100%;
    width:100%;
    left: 50%;
    top:50%;
    border-radius: 40px;
    transform:translate(-50%,-50%);
    display:none;
    background-color: rgba(0,0,0,0.2);
    color:white;
    transition-duration: 250ms;
    text-align: center;
    cursor: pointer;
}

.store-photo1:hover .store-photo-text{
    transition-duration: 250ms;
    display:block;
}

.store-photo1:hover {
    transition-duration: 0.5s;
    transform: scale(1.2);
}

.store-photo2 {
    height:300px;
    float:left;
    margin:20px;
    border-radius: 40px;
    transition-duration: 0.5s;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
}

.store-photo2:hover .store-photo-text{
    transition-duration: 250ms;
    display:block;
}

.store-photo2:hover {
    transition-duration: 0.5s;
    transform: scale(1.2);
}

.jacket-gallery-container {
    display:none;
    opacity: 0;
    position:fixed;
    height:100%;
    width:100%;
    top:0;
    left:0;
    z-index: 100;
}

.jacket-gallery-overlay {
    height:100%;
    width:100%;
    background-color: rgba(0,0,0,0.4);
    position: relative;
}

.jacket-gallery-wrapper {
    overflow: hidden;
    width:90%;
}

.jacket-gallery-wrapper * {
    box-sizing: border-box;
}

.jacket-gallery-content {
    width:80vw;
    transform-style: preserve-3d;
    position: absolute;
    background-color: white;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
}

.jacket-gallery-x {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    opacity: 0.5;
    z-index: 1000;
    cursor:pointer;
    border:none;
    background-color: transparent;
}
    
.jacket-gallery-x:hover {
    opacity: 1;
}
    
.jacket-gallery-x:before, .jacket-gallery-x:after {
    position: absolute;
    left: 5px;
    content: ' ';
    height: 20px;
    width: 3px;
    border-radius: 2px;
    background-color: black;
}
    
.jacket-gallery-x:before {
    transform: rotate(45deg);
}
    
.jacket-gallery-x:after {
    transform: rotate(-45deg);
}  

.jacket-gallery-photo {
    opacity: 0;
    position: absolute;
    top:0;
    width:60vw;
    margin: 0 auto;
    padding: 1rem 4rem;
    z-index: 100;
    transition: transform .5s, opacity .5s, z-index .5s;
}

.jacket-gallery-photo.initial,
.jacket-gallery-photo.active {
    opacity: 1;
    position: relative;
    z-index: 900;
}

.jacket-gallery-photo.prev,
.jacket-gallery-photo.next {
    z-index: 800;
}

.jacket-gallery-photo.prev {
    transform:translateX(-100%);
}

.jacket-gallery-photo.next {
    transform:translateX(100%);
}

.jacket-gallery-button--prev,
.jacket-gallery-button--next {
  position: absolute;
  top:50%;
  width: 3rem;
  height: 3rem;
  background-color: #FFF;
  transform: translateY(-50%);
  border-radius: 50%;
  cursor: pointer; 
  z-index: 1001; /* Sit on top of everything */
  border: 1px solid black;
  margin:10px;
}
.jacket-gallery-button--prev {
  left:0;
}
.jacket-gallery-button--next {
  right:0;
}
.jacket-gallery-button--prev::after,
.jacket-gallery-button--next::after {
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 54%;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  transform: translate(-50%, -50%) rotate(135deg);
}
.jacket-gallery-button--next::after {
  left: 47%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* TEAM */
.team-container {
    display: flex;
    flex-flow: row wrap;
    width:60vw;
    margin:0 auto;
    justify-content: center;
    align-items: flex-start;
    margin-bottom:30px;
}

.exec-card  {
    width:100%;
    margin:10px;
    padding:20px;
    border-radius: 20px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
    transition:transform 0.2s;
    cursor: pointer;
    text-align: left;
    background-color: var(--bodyColor);
}

.exec-card:hover {
    transition:transform 0.2s;
    transform:scale(1.01);
}

.exec-photo {
    width:15rem;
    height:15rem;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    margin-right:20px;
    float: left;
}

.exec-text {
    padding:10px;
}

.exec-name {
}

.exec-position {
    font-size:20px;
    font-weight: 700;

}

.exec-description {
    font-weight:400px;
    font-size: 14px;
}

.council-container {
    display: flex;
    flex-flow: row wrap;
    width:80vw;
    margin:0 auto;
    justify-content: center;
    align-items: flex-start;
    margin-bottom:30px;
}

.council-card {
    width:250px;
    margin:10px;
    padding-bottom: 10px;
    border-radius: 20px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
    transition:transform 0.2s;
    cursor: pointer;
}

.council-card:hover {
    transition:transform 0.2s;
    transform:scale(1.01);
}

.council-photo {
    width:250px;
    height:250px;
    background-position: center;
    background-size: cover;
    margin-bottom:10px;
    border-radius: 20px 20px 0px 0px;
}

.council-name {
    font-size:20px;
    font-weight: 700;
}

.council-position {
    font-style: italic;
}

.council-description {
    font-weight:400px;
    font-size: 14px;
    display: none;
}

/* CLUBS */
.clubs-container {
    width: 80vw;
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    justify-content: center;
    align-items: flex-start;
    margin-bottom:30px;
}

.clubs-title {
    width: 100%;
    padding-bottom: 20px;
}

.club-card {
    width:250px;
    margin:10px;
    transition-duration: 250ms;
}

.club-card:hover .club-name{
    transition-duration: 250ms;
    font-size: 25px;
}

.club-photo {
    border-radius: 10px;
    width:100%;
    height:150px;
    background-position: center;
    background-size: cover;
    position: relative;
}

.club-name-wrapper {
    border-radius: 10px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    height:100%;
    width:100%;
    background-color: rgba(0,0,0,0.4);
    cursor: pointer;
}

.club-name {
    color:white;
    position: absolute;
    font-size: 20px;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    transition-duration: 250ms;
}

.club-content-wrapper {
    position: fixed;
    top:0;
    left: 0;
    height:100%;
    width:100%;
    z-index: 100;
    display: none;
    opacity: 0;
}

.club-content-bg {
    height:100%;
    width:100%;
    background-color: rgba(0,0,0,0.4);
    position: relative;
}

.club-content {
    width:50vw;
    transform-style: preserve-3d;
    position: absolute;
    background-color: white;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    padding:30px;
}

.club-content-x {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    opacity: 0.5;
    z-index: 1000;
    cursor:pointer;
    border:none;
    border-radius: 50%;
}
    
.club-content-x:hover {
    opacity: 1;
}
    
.club-content-x:before, .club-content-x:after {
    position: absolute;
    left: 5px;
    content: ' ';
    height: 20px;
    width: 3px;
    border-radius: 2px;
    background-color: black;
}
    
.club-content-x:before {
    transform: rotate(45deg);
}
    
.club-content-x:after {
    transform: rotate(-45deg);
}  

.club-content-text {
    text-align: left;
}

.club-content-photo {
    width:30vw;
    margin:10px;
    float:right;
    border-radius: 10px;    
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
}

.club-content-name {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top:10px;
}

.club-content-description {

}

.club-content-socials {
    margin-top:20px;
    text-align: center;
}

.club-content-socials-text {
    width:100%;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
}

.club-content-socials-icons {
    height: 60px;
    margin:0 auto;
    position:relative;
    padding:10px;
}

.club-content-socials-icon {
    height:30px;
    width:30px;
}

.club-content-socials-icon-wrapper {
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    height:30px;
    overflow:hidden;
    background-color: var(--mainColor);
    padding:20px;
    border-radius: 15px;
}

.club-content-socials-icon-wrapper a {
    height: 30px;
    width: 30px;
    margin-left: 2px;
    margin-right: 5px;
    margin-bottom: 0;
    padding: 0;
}


/* WELLNESS FORCE */
.wellness-container {
    width:60vw;
    margin:0 auto;
    margin-bottom: 30px;
}

.wellness-logo {
    height: 200px;
    margin: 0 auto;
    border-radius: 20px;
    float: right;
    margin-left: 10px;
}

.wellness-title {
    font-size: 40px;
    display: inline-block;
}

.wellness-about {
    text-align: left;
    border-radius: 20px;
    box-shadow: 0 0px 5px rgba(0,0,0,0.2);
    padding: 20px;
}

.wellness-resources {
    text-align: left;
    border-radius: 20px;
    box-shadow: 0 0px 5px rgba(0,0,0,0.2);
    padding:20px;
}

.wellness-socials {
    position:fixed;
    top:50%;
    transform: translate(0,-50%);
    right:0px;
    width: 150px;
    color:white;
}

.wellness-social-card {
    background-color: var(--mainColor);
    border-radius: 20px 0px 0px 20px;
    padding: 10px;
    display:flex;
    margin-top: 10px;
    font-size: 10px;
    align-items: center;
    transform: translateX(95px);
}

.wellness-social-logo {
    height:30px;
    width:30px;
    display: inline-block;
    padding:5px;
}

.wellness-social-text {
    margin-left: 5px;
    text-decoration: none;
    color:white;
}

/* SUSTAINABILITY */
.sustainability-container {
    width:80vw;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 30px;
}

.sustainability-title {
}

.sustainability-logo {
    float:right;
    width:25vw;
    margin-left:20px;
}

.sustainability-photo {
    margin: 20px 0;
    width:100%;
    height:200px;
    background-position: center;
    background-size: cover;
    position: relative;
    transition-duration: 200ms;
    cursor: pointer;
}

.sustainability-photo:hover {
    transform: scale(1.05);
    transition-duration: 200ms;
}

.sustainability-subtitle {
    position:absolute;
    text-align: center;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color:white;
    font-weight: 700;
    font-size: 25px;
}

.sustainability-fact-container {
    display: flex;
    flex-flow: row wrap;
}

.sustainability-fact {
    color:white;
    background-color: var(--mainColor);
    border-radius: 20px;
    margin: 10px;
    padding: 15px;
}

.sustainability-tip {
    display: none;
}


/* ADMIN PAGE */

.admin-container {
    width:80vw;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 30px;
    display: flex;
    flex-direction:column;
}

.admin-card {
    margin: 20px 0;
    background-position: center;
    background-size: cover;
    position: relative;
    transition-duration: 200ms;
    cursor: pointer;
    transition-duration: 250ms;
    height:200px;
    width:100%;
    background-color: var(--mainColor);
}

.admin-card:hover {
    transform: scale(1.1);
    transition-duration: 250ms;
}

.admin-title {
    position:absolute;
    text-align: center;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color:white;
    font-weight: 700;
    font-size: 25px;
}

.admin-content {
    display: none;
}

/* 404 PAGE */
.construction-container {
    overflow: hidden;
    height: 100vh;
    position: absolute;
    top:0;
    width:100%;
    display: flex;
    align-items: center;
}

.construction-sign {
    background-color: #f9bf1e;
    border-radius: 20px;
    width:500px;
    padding:20px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
    margin-bottom: 80px;
}

.construction-text {
    font-size: 45px;
    font-weight: 700;
}

.construction-container hr {
    border:none;
    border-top:20px dashed rgba(0, 0, 0, 0.9);
    color:#fff;
    height:1px;
}

.special-footer {
    position: fixed;
    bottom: 0;
}

/* SPACES */
.spaces-container {
    margin: 0 auto;
    width:60vw;
    padding:20px;
    padding-bottom: 80px;
    text-align: left;
}

.discord-container {
    margin: 0 auto;
    width:60vw;
    padding:20px;
    padding-bottom: 80px;
    margin-bottom: 30px;
    text-align: right;
}

/* RESPONSIVE STUFF *//* RESPONSIVE STUFF *//* RESPONSIVE STUFF *//* RESPONSIVE STUFF */
@media screen and (max-width: 1200px) {
    body ol li {
        padding-left:10px;
        padding-right:10px;
    }

    .about-text {
        height: 50vh;
        overflow-y: scroll;
    }

    .about-text::-webkit-scrollbar {
      width: 5px;  /* for vertical scrollbars */
      height: 5px; /* for horizontal scrollbars */
    }
    
    .about-text::-webkit-scrollbar-track {
      background: none;
    }
    
    .about-text::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.5);
      border-radius:20px;
      height:30px;
    }

    .contact-us {
        flex-flow: column wrap;
        justify-content: center;
    }

    .ues-map {
        width: 80vw;
        border-radius: 20px 20px 0px 0px;
        margin: 0;
        margin-top: 20px;
    }
    
    .email-container {
        font-size: 20px;
        width: 80vw;
        border-radius: 0px 0px 20px 20px;
        margin: 0;
    }

    .clubs-container {
        width:90vw;
    }
    
    .club-content {
        height:80vh;
        overflow-y: scroll;
    }

    .club-content-text {
        text-align: center;
    }

    .club-content-name {
        font-size: 25px;
    }

    .club-content::-webkit-scrollbar {
        right:10px;
        width: 1.5em;  /* Total width including `border-width` of scrollbar thumb */
        height: 0;
    }
      
    .club-content::-webkit-scrollbar-track {
        background: none;
    }

    .club-content::-webkit-scrollbar-thumb {
        border-radius:20px;
        border: 0.5em solid rgba(0, 0, 0, 0);  /* Transparent border together with `background-clip: padding-box` does the trick */
        background-clip: padding-box;
        background-color: rgba(0, 0, 0, 0.5);
    }
    
    .club-content-x {
        position: absolute;
        right: 0px;
    }

    .club-content-photo {
        width:100%;
        margin: 0 auto;
        float:none;
    }

    .club-content-photo:hover {
        transform:scale(1.02);
    }
}

@media screen and (max-width: 1000px) {
    .menu-items {
        display: none;
    }

    #menu-button {
        display: block;
    }
}
